* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 16px;

	min-height: 100%;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;

	background-color: #FC0;
	font-family: "Untitled Sans", system-ui, sans-serif;
}

a {
	color: #333;
}

.card {
	width: 50vh;
	height: 70vh;
	
	color: #2b2b2b;
	background:	url("/assets/ui/card.svg") #eee;
	background-size: cover;
	border-radius: 15px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);

	padding: 30px;

	transform: rotateY(0deg);
	transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	animation: flipcard 2s infinite;
}

.card::after {
	content: '';
	position: absolute;

	right: 0px;
	bottom: 0px;
	top: 0px;
	left: 0px;

	background:	url("/assets/ui/paper.jpg") #eee;

	transform: rotateY(180deg);
	transform-style: preserve-3d;

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#strategy {
	font-size: 2.5em;
	font-weight: 600;
	letter-spacing: -0.02em;

	padding-bottom: 24px;
	border-bottom: 4px solid #2b2b2b;
	margin-bottom: 24px;
}

.card-footer {
	font-size: 1.5em;
	font-weight: 400;
	opacity: 0.65;
}

.footer {
	width: 100%;
	text-align: center;
	margin-top: 24px;
	opacity: 0.5;
}

@keyframes flipcard {
	0%		{ transform: rotateX(0deg); }
	100%	{ transform: rotateX(360deg); }
}