@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;1,100');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;1,300');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,500;1,500');

* {
	box-sizing: border-box;
}

body {
	background-color: #000;
}

h1 {
	font-size: 36pt;
	font-weight: 100;
	margin: 0px;
}

.container {
	height: 100vh;

	position: fixed;
	top: 0;
}

.text-container {
	width:	35vw;
	left:	15vw;

	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	height:	60vh;
	width:	100%;
	background-color: rgba(255, 255, 255, 0.9);
	color: #1b1b1b;
	font-family: "IBM Plex Mono", "Menlo", "Roboto", sans-serif;
	padding: 15px 25px;
	font-weight: 300;
}

a {
	color: #444;
	font-weight: 500;
}

img {
	width: 60vw;
	padding-top: 10vh;
	padding-right: 15vh;
	float: right;
}

img:last-of-type {
	padding-bottom: 10vh;
}